{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped" action="/">
        <thead>
            <tr class="text-left">
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr class="text-left">
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>${{ row[3] }}</td>
                    <td>${{ row[4] }}</td>
                </tr>
            {% endfor %}
            <tr class="text-left">
                <td colspan="4">CASH</td>
                <td>${{ cash_left }}</td>
            </tr>
            <tr class="text-left">
                <th scope="row" colspan="4"></th>
                <th scope="row">${{ cash_total }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}