{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="btn btn-outline-secondary btn-mini" name="symbol">
            <option selected>Symbol</option>
            {% for item in row %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}